* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}
body {
  background: #fff;
  color: #000;
  display: flex;
  margin: 0;
  min-height: 100vh;
  font: 400 1rem/1em Yantramanav, sans-serif;
}
.left-sidebar,
main.right {
  margin-bottom: 5rem;
}
.left-sidebar {
  padding: 1rem;
  min-width: 11rem;
}
.left-sidebar header {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #000;
}
.left-sidebar header .logomark {
  display: block;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 4px solid #333;
  margin-right: 0.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transform: rotate(45deg);
}
.left-sidebar header .logo {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
.left-sidebar ul.link-list {
  display: flex;
  margin-bottom: 1rem;
}
.left-sidebar ul.link-list li.list-item {
  list-style-type: none;
  display: block;
  margin-right: 0.5rem;
  border-left: 1px solid #bbb;
  padding-left: 0.5rem;
}
.left-sidebar ul.link-list li.list-item:first-child {
  border-left: none;
  padding-left: 0;
}
.left-sidebar .toc ul li {
  white-space: nowrap;
  list-style-type: none;
  margin-top: 0.25rem;
}
.left-sidebar .toc ul li:first-child {
  margin-top: 0;
}
.left-sidebar .toc ul li li {
  margin-left: 1rem;
}
.left-sidebar .toc ul li li:first-child {
  margin-top: 0.25rem;
}
.left-sidebar .toc ul li li.active ul {
  border-left: 3px solid #2c4d90;
}
a,
.link {
  font-weight: 500;
  text-decoration: none;
}
.active > a,
.active > .link {
  font-weight: 700;
}
.link,
a[href] {
  color: #2c4d90;
  cursor: pointer;
}
.link:hover,
a[href]:hover {
  text-decoration: underline;
}
main.right {
  padding: 1rem;
  flex-grow: 1;
  max-width: 640px;
  line-height: 1.3em;
}
main.right strong {
  font-weight: 900;
  color: #333;
}
main.right h1 {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #2c4d90;
  margin-bottom: 2.5rem;
}
main.right h2 {
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 1.75rem;
}
main.right h3.subtitle {
  color: #333;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
  margin-bottom: 2rem;
  line-height: 1.3em;
  font-family: "Patua One";
  border-left: 1em solid #aaa;
  background: #ccc;
}
main.right p {
  margin-bottom: 1rem;
  text-align: justify;
}
main.right pre,
main.right :not(pre) > code {
  background: #eee;
  color: #000;
  font-family: "Source Code Pro", monospace;
}
main.right :not(pre) > code {
  display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.1em 0.3em;
}
main.right :not(pre) > code a {
  text-decoration: none;
}
main.right pre {
  border-left: 3px solid #2c4d90;
  padding: 1rem;
  margin-bottom: 1rem;
}
main.right pre > code {
  tab-size: 2;
  line-height: 1.3em;
  display: block;
  width: 100%;
  font-size: 1rem;
}
main.right small,
main.right .small {
  font-size: 0.8rem;
}
main.right ul,
main.right ol {
  margin: 0 0 0 1rem;
  padding: 0;
  line-height: 1em;
}
main.right ul li,
main.right ol li {
  line-height: 1.3em;
  margin: 0 0 0 1rem;
  padding: 0;
}
main.right ul li > p,
main.right ol li > p {
  margin-bottom: 0;
}
main.right ul li:last-child,
main.right ol li:last-child {
  margin-bottom: 1rem;
}
main.right ul li ul,
main.right ol li ul {
  margin: 0;
}
main.right .warning {
  display: block;
  background: #f9f9bb;
  padding: 1rem;
}
main.right .warning,
main.right .warning * {
  color: #75730b;
}
main.right footer {
  border-top: 1px solid #bbb;
  padding-top: 1rem;
}
/* prism theming */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #888;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}
.token.atrule,
.token.attr-value,
.token.punctuation,
.token.keyword {
  color: #1e5799;
}
.token.regex,
.token.important {
  color: #e90;
}
body.route-404 {
  background: linear-gradient(to bottom right, #556270 0%, #556270 16.666%, #4ecdc4 16.666%, #4ecdc4 33.333%, #c7f464 33.333%, #c7f464 50%, #ff6b6b 50%, #ff6b6b 66.666%, #c44d58 66.666%, #c44d58 83.333%, #556270 83.333%, #556270 100%);
  background-repeat: no-repeat;
  background-size: 550% 550%;
  animation: technicolor_bg 120s infinite linear;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
body.route-404 h1 {
  font-size: 6.666666666666667vw;
  padding: 1rem;
  line-height: 1em;
  font-weight: 900;
  width: auto;
  animation: error_fg 60s infinite linear;
  color: #fff;
  background-color: rgba(255,0,0,0.75);
}
@-moz-keyframes error_fg {
  0% {
    transform: translate(-6vw, -6vh);
  }
  25% {
    transform: translate(-6vw, 6vh);
  }
  50% {
    transform: translate(6vw, 6vh);
  }
  75% {
    transform: translate(6vw, -6vh);
  }
  100% {
    transform: translate(-6vw, -6vh);
  }
}
@-webkit-keyframes error_fg {
  0% {
    transform: translate(-6vw, -6vh);
  }
  25% {
    transform: translate(-6vw, 6vh);
  }
  50% {
    transform: translate(6vw, 6vh);
  }
  75% {
    transform: translate(6vw, -6vh);
  }
  100% {
    transform: translate(-6vw, -6vh);
  }
}
@-o-keyframes error_fg {
  0% {
    transform: translate(-6vw, -6vh);
  }
  25% {
    transform: translate(-6vw, 6vh);
  }
  50% {
    transform: translate(6vw, 6vh);
  }
  75% {
    transform: translate(6vw, -6vh);
  }
  100% {
    transform: translate(-6vw, -6vh);
  }
}
@keyframes error_fg {
  0% {
    transform: translate(-6vw, -6vh);
  }
  25% {
    transform: translate(-6vw, 6vh);
  }
  50% {
    transform: translate(6vw, 6vh);
  }
  75% {
    transform: translate(6vw, -6vh);
  }
  100% {
    transform: translate(-6vw, -6vh);
  }
}
@-moz-keyframes technicolor_bg {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
@-webkit-keyframes technicolor_bg {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
@-o-keyframes technicolor_bg {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
@keyframes technicolor_bg {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
body {
  --stylesheet-loaded: true;
}
