vendor(type,prop)
	-webkit-{type} prop
	-moz-{type} prop
	{type} prop

*
	margin 0
	padding 0

h1,h2,h3,h4,h5,h6
	font-size 1rem
	line-height 1rem
	font-weight 400

spacer = 1rem
color-blue = rgba(44,77,144,1)

body
	background #fff
	color #000
	display flex
	margin 0
	min-height 100vh
	font 400 1rem/1em Yantramanav, sans-serif

.left-sidebar, main.right
	margin-bottom spacer*5

.left-sidebar
	padding spacer
	min-width 11rem

	header
		display flex
		align-items baseline
		margin-bottom spacer
		font-weight 700
		color #000
		.logomark
			display block
			width 10px
			height 10px
			background transparent
			border 4px solid #333
			margin-right spacer*.5
			vendor('border-radius', 5px)
			transform rotate(45deg)
		.logo
			color #000
			font-size 1.5rem
			margin-right spacer*.25
		// .version

	ul.link-list
		display flex
		margin-bottom spacer
		li.list-item
			list-style-type none
			display block
			margin-right spacer*.5
			border-left 1px solid #bbb
			padding-left spacer*.5
			// padding-top spacer*.25
			// padding-bottom spacer*.25
			&:first-child
				border-left none
				padding-left 0

	.toc
		ul
			li
				white-space nowrap
				list-style-type none
				margin-top spacer*.25
				&:first-child
					margin-top 0
				li
					margin-left spacer
					&:first-child
						margin-top spacer*.25
					&.active ul
						border-left 3px solid color-blue

a, .link
	font-weight 500
	text-decoration none
	.active > &
		font-weight 700
.link, a[href]
	color color-blue
	cursor pointer
	&:hover
		text-decoration underline

main.right
	padding spacer
	flex-grow 1
	max-width 640px
	line-height 1.3em

	strong
		font-weight 900
		color #333

	h1
		color #333
		font-size 2rem
		font-weight 700
		margin-bottom spacer

		color color-blue
		margin-bottom spacer*2.5

	h2
		color #333
		font-size 1.5rem
		font-weight 500
		margin-bottom spacer
		margin-top spacer*1.75

	h3, .subtitle
		color #333
		font-size 2rem
		font-weight 400
		padding spacer
		margin-bottom spacer*2
		line-height 1.3em
		font-family "Patua One"
		border-left 1em solid #aaa
		background #ccc

	p
		margin-bottom spacer
		text-align justify

	pre,
	:not(pre) > code
		background #eee
		color #000
		font-family "Source Code Pro", monospace

	:not(pre) > code
		display inline
		vendor('border-radius', 5px)
		font-size .8rem
		padding .1em .3em
		a
			text-decoration none

	pre
		border-left 3px solid color-blue
		padding spacer
		margin-bottom 1rem
		& > code
			tab-size 2
			line-height 1.3em
			display block
			width 100%
			overflow-x auto
			font-size 1rem

	small, .small
		font-size .8rem

	ul, ol
		margin 0 0 0 spacer
		padding 0
		line-height 1em
		li
			&, p
				text-align left
			line-height 1.3em
			margin 0 0 0 spacer
			padding 0
			& > p
				margin-bottom 0
			&:last-child
				margin-bottom 1rem
			ul
				margin 0

	.warning
		display block
		background #f9f9bb
		padding 1rem
		&, & *
			color #75730b

	footer
		border-top 1px solid #eee
		padding-top spacer
		color #ccc
		

/* prism theming */
.token.comment,.token.prolog,.token.doctype,.token.cdata {color:#888;}
.token.property,.token.tag,.token.boolean,.token.number,.token.constant,.token.symbol {color:#905;}
.token.selector,.token.attr-name,.token.string,.token.builtin {color:#690;}
.token.atrule,.token.attr-value,.token.punctuation,.token.keyword {color:#1e5799;}
.token.regex,.token.important {color:#e90;}

body.route-404
	background linear-gradient(to bottom right,
		#556270 0%,
		#556270 16.666%,
		#4ECDC4 16.666%,
		#4ECDC4 33.333%, 
		#C7F464 33.333%,
		#C7F464 50%,
		#FF6B6B 50%,
		#FF6B6B 66.666%,
		#C44D58 66.666%,
		#C44D58 83.333%,
		#556270 83.333%,
		#556270 100%
		)
	background-repeat no-repeat
	background-size 550% 550%
	animation technicolor_bg 120s infinite linear
	@keyframes technicolor_bg
		from
			background-position 0% 0%
		to
			background-position 100% 100%
	display flex
	height 100%
	justify-content center
	align-items center
	h1
		font-size (100vw/15)
		padding 1rem
		line-height 1em
		font-weight 900
		width auto
		animation error_fg 60s infinite linear
		color rgba(255,255,255,1)
		background-color rgba(255,0,0,.75)
		@keyframes error_fg
			0%
				transform translate(-6vw, -6vh)
			25%
				transform translate(-6vw, 6vh)
			50%
				transform translate(6vw, 6vh)
			75%
				transform translate(6vw, -6vh)
			100%
				transform translate(-6vw, -6vh)

body
	--stylesheet-loaded true

